# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Unit test / coverage reports
.coverage

# Mr Developer
.idea
*.db
*.sublime*

# Django stuff:
*.log
*.pot
static/*
media/*
test_media/*

# js stuff:
*/static/vendor
node_modules
