[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

celery = "*"
django-allauth = "*"
django-assets = "*"
django-auditlog = "*"
django-environ = "*"
cssmin = "*"
django-extra-fields = "*"
django-filter = "*"
django-model-utils = "*"
django-post-office = "*"
django-redis = "*"
django-widget-tweaks = "*"
djangorestframework = "*"
gunicorn = "*"
invoke = "*"
boto = "*"
weasyprint = "*"
coreapi = "*"
pillow = "*"
"psycopg2-binary" = "*"
django = "*"


[dev-packages]

coverage = "*"
django-debug-toolbar = "*"
bpython = "*"
factory-boy = "*"
selenium = "*"
pyinotify = "*"
django = "*"
