[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
Pillow = "*"
WeasyPrint = "*"
celery = "*"
coreapi = "*"
django-allauth = "*"
django-auditlog = "*"
django-auth-ldap = "*"
django-celery-results = "*"
django-environ = "*"
django-extra-fields = "*"
django-filter = "*"
django-hijack = "*"
django-model-utils = "*"
django-post_office = "*"
django-rest-auth = "*"
django-weasyprint = "*"
django-widget-tweaks = "*"
djangorestframework = "*"
fabric = "*"
gunicorn = "*"
halo = "*"
hiredis = "*"
invoke = "*"
patchwork = "*"
psycopg2-binary = "*"
pyinvoke = "*"
redis = "*"
whitenoise = "*"

[dev-packages]
Django = "*"
autopep8 = "*"
bpython = "*"
coverage = "*"
django-debug-toolbar = "*"
factory_boy = "*"
flake8 = "*"
pyinotify = "*"
selenium = "*"

[requires]
python_version = "3.10"
