{% templatetag openblock %} extends 'base.html' {% templatetag closeblock %}{% templatetag openblock %} load render_field from widget_tweaks {% templatetag closeblock %}

{% templatetag openblock %} block title {% templatetag closeblock %}Resetar Senha{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block body_class {% templatetag closeblock %}hold-transition login-page{% templatetag openblock %} endblock body_class {% templatetag closeblock %}

{% templatetag openblock %} block body {% templatetag closeblock %}

  <div class="login-box">

    <div class="login-logo">
      <b>Slide</b>Coins
    </div>

    <div class="login-box-body">
      <p class="login-box-msg">
        {% templatetag openblock %} if not validlink {% templatetag closeblock %}Token inválido{% templatetag openblock %} else {% templatetag closeblock %}Entre com sua nova senha nos campos a seguir.{% templatetag openblock %} endif {% templatetag closeblock %}
      </p>

      {% templatetag openblock %} if not validlink {% templatetag closeblock %}
          Infelizmente não foi possível resetar sua senha. Talvez ela já tenha sido resetada, ou o link utilizado esteja inválido. 
          Se preferir, solicite outro reset de senha clicando <a href="{% templatetag openblock %} url 'account_reset_password' {% templatetag closeblock %}">aqui</a>. 
      {% templatetag openblock %} else {% templatetag closeblock %}
        <form action="" method="post" class="clearfix" novalidate>{% templatetag openblock %} csrf_token {% templatetag closeblock %}
          <div class="form-group has-feedback {% templatetag openblock %} if form.new_password1.errors {% templatetag closeblock %}has-error{% templatetag openblock %} endif {% templatetag closeblock %}">
            {% templatetag openblock %} render_field form.new_password1 class="form-control" placeholder="Nova Senha" autofocus="autofocus" {% templatetag closeblock %}
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            {% templatetag openblock %} if form.new_password1.errors {% templatetag closeblock %}
              <span class="text-danger">{% templatetag openvariable %} form.new_password1.errors.0 {% templatetag closevariable %}</span>
            {% templatetag openblock %} endif {% templatetag closeblock %}
          </div>
          <div class="form-group has-feedback {% templatetag openblock %} if form.new_password2.errors {% templatetag closeblock %}has-error{% templatetag openblock %} endif {% templatetag closeblock %}">
            {% templatetag openblock %} render_field form.new_password2 class="form-control" placeholder="Confimar Nova Senha" {% templatetag closeblock %}
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            {% templatetag openblock %} if form.new_password2.errors {% templatetag closeblock %}
              <span class="text-danger">{% templatetag openvariable %} form.new_password2.errors.0 {% templatetag closevariable %}</span>
            {% templatetag openblock %} endif {% templatetag closeblock %}
          </div>

          <button type="submit" class="btn btn-primary btn-flat pull-right" id="id_reset_password_button">
            <i class="fa fa-fw fa-repeat"></i> Resetar Senha
          </button>
        </form>
      {% templatetag openblock %} endif {% templatetag closeblock %}
    </div>
  </div>
{% templatetag openblock %} endblock body {% templatetag closeblock %}
