{% extends 'base.html' %}{% load widget_tweaks static %}
{% block title %}Login{% endblock %}

{% block body %}
<div class="row mt-5">
  <div class="col-3"></div>
  <div class="col-6">
    <ul>
      {{ form.non_field_errors }}
    </ul>

    <h4 class="mt-0">Login</h4>
    <p class="text-muted mb-3">Entre com suas credenciais de acesso para fazer login no sistema.</p>

    <form action="" method="post">{% csrf_token %}
      <div class="mb-2">
        <label for="emailaddress" class="form-label">Nome de usuário ou email</label>
        {% render_field form.login class="form-control" placeholder="Nome de usuário ou e-mail" %}
      </div>

      <div class="mb-2">
        <label for="password" class="form-label">Senha</label>
        <div class="input-group input-group-merge">
          {% render_field form.password class="form-control" placeholder="Senha" %}
          <div class="input-group-text" data-password="false">
            <span class="password-eye"></span>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-check">
          {% render_field form.remember class="form-check-input" %}
          <label class="form-check-label" for="{{ form.remember.id_for_label }}">Lembrar</label>
        </div>
      </div>

      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value | default:'/' }}" />

      <div class="d-grid text-center">
        <button id="logar" class="btn btn-primary" type="submit">
          <i class="mdi mdi-login"></i> Login
        </button>
      </div>
    </form>
  </div>
  <div class="col-3"></div>
</div>
      

{% endblock body %}

{% block scripts %}
  <script>
    $(function () {
      $('#id_login').focus();
    });
  </script>
{% endblock scripts %}
