{% extends 'base.html' %}{% load widget_tweaks static %}
{% block title %}Login{% endblock %}

{% block body %}
<div class="row mt-3">
  <div class="col"></div>
  <div class="col-lg-4 col-sm-8">
    {% include "_includes/form_non_field_errors.html" %}

    <div class="card">
      <div class="card-header">Digite suas credenciais para acessar o sistema</div>

      <div class="card-body">
        <form action="" method="post" novalidate>{% csrf_token %}
          <div class="mb-3">
            <label for="{{ form.login.id_for_label }}" class="form-label">Usuário</label>
            {% render_field form.login class="form-control" placeholder="Nome de usuário ou e-mail" autofocus="autofocus" %}
            {% if form.login.errors %}<div class="text-danger mt-1">{{ form.login.errors.0 }}</div>{% endif %}
          </div>

          <div class="mb-3">
            <label for="{{ form.password.id_for_label }}" class="form-label">Senha</label>
            <div class="input-group">
              {% render_field form.password class="form-control" placeholder="Senha" %}
              <button id="password-eye" type="button" class="btn btn-outline-secondary" title="Clique para visualizar a senha">
                <i class="bi bi-eye"></i>
              </button>
            </div>
            {% if form.password.errors %}<div class="text-danger mt-1">{{ form.password.errors.0 }}</div>{% endif %}
          </div>

          <div class="clearfix">
            <div class="form-check float-end">
              {% render_field form.remember class="form-check-input ponteiro" %}
              <label class="form-check-label ponteiro" for="{{ form.remember.id_for_label }}" title="Clique para permanecer logado mesmo fechando seu navegador">
                Lembrar
              </label>
            </div>
          </div>
          <hr>

          <button id="loginBtn" class="btn btn-primary float-end" type="submit">
            <i class="bi bi-box-arrow-right"></i> Entrar
          </button>
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value | default:'/' }}" />
        </form>
      </div>
    </div>
  </div>
  <div class="col"></div>
</div>
{% endblock body %}

{% block scripts %}
  {{ block.super }}

  <script>
    addEventListener('DOMContentLoaded', function () {
      App.configurarPasswordEye('#password-eye');
      App.configurarSpinner('#loginBtn');
    });
  </script>
{% endblock scripts %}
