{% extends "app.html" %}{% load widget_tweaks %}

{% block conteudo %}
  <form action="" method="post" novalidate>{% csrf_token %}
    <div class="card">
      <div class="card-header">Vínculos disponíveis</div>
      <div class="card-body">
        <div class="mb-3">
          {% for radio in form.vinculos  %}
            <div class="form-check">
              {{ radio.tag }}
              <label class="form-check-label" for="{{ radio.id_for_label }}">
                {{ radio.choice_label }}
              </label>
            </div>
          {% endfor %}
          {% if form.vinculos.errors %}<div class="text-danger mt-1 form-check">{{ form.vinculos.errors.0 }}</div>{% endif %}
        </div>
        <hr>
        <button id="vinculoBtnSpinner" type="submit" class="btn btn-primary btn-sm">
          <i class="bi bi-box-arrow-right"></i> Selecionar
        </button>
      </div>
    </div>
  </form>
{% endblock conteudo %}
