<!doctype html>{% templatetag openblock %} load assets static {% templatetag closeblock %}
<html lang="en">
<head>
  {% templatetag openblock %} block meta {% templatetag closeblock %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  {% templatetag openblock %} endblock meta {% templatetag closeblock %}

  <title>{% templatetag openblock %} block title {% templatetag closeblock %}Bem vindo{% templatetag openblock %} endblock title {% templatetag closeblock %}</title>

  {% templatetag openblock %} block css {% templatetag closeblock %}
  {% templatetag openblock %} endblock css {% templatetag closeblock %}

  {% templatetag openblock %} assets "css_all" {% templatetag closeblock %}
    <link rel="stylesheet" href="{% templatetag openvariable %} ASSET_URL {% templatetag closevariable %}">
  {% templatetag openblock %} endassets {% templatetag closeblock %}

  {% templatetag openblock %} block scripts {% templatetag closeblock %}
    <!-- vendor -->
    <script src="{% templatetag openblock %} static "jquery/dist/jquery.min.js" {% templatetag closeblock %}"></script>
    <script src="{% templatetag openblock %} static "vue/dist/vue.min.js" {% templatetag closeblock %}"></script>
    <script src="{% templatetag openblock %} static "vue-resource/dist/vue-resource.min.js" {% templatetag closeblock %}"></script>
    <script src="{% templatetag openblock %} static "vee-validate/dist/vee-validate.min.js" {% templatetag closeblock %}"></script>
    <script src="{% templatetag openblock %} static "lodash/lodash.min.js" {% templatetag closeblock %}"></script>

    <!-- app -->
    <script src="{% templatetag openblock %} static "app/core/mensagem.js" {% templatetag closeblock %}"></script> <!-- remover -->
    <script src="{% templatetag openblock %} static "app/main.js" {% templatetag closeblock %}"></script>
  {% templatetag openblock %} endblock scripts {% templatetag closeblock %}

  <script>
    {% templatetag openblock %} block local_scripts {% templatetag closeblock %}
      window.addEventListener('load', function () {
        new Vue({
          el: '#app',
          delimiters: ['[[', ']]'],
          data: function () {
            return {
              mensagem: this.Mensagem.obterMensagem() // remover
            }
          }
        });
      });
    {% templatetag openblock %} endblock local_scripts {% templatetag closeblock %}
  </script>
</head>
<body>
  {% templatetag openblock %} block body {% templatetag closeblock %}
    <div id="app">
      [[ mensagem ]]
    </div>
  {% templatetag openblock %} endblock body {% templatetag closeblock %}
</body>
</html>