{% extends 'base.html' %}

{% block body %}
  <div class="container">
    <div class="row mt-3">
      <div class="col"></div>

      <div class="col-8">
        <nav class="navbar navbar-expand-lg bg-body-secondary mb-3 canto-redondo" data-bs-theme="dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'app' %}">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ user.nome_completo }}
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                      <a class="dropdown-item" href="{% url 'account_logout' %}"
                          onclick="return confirm('Logout?')">Logout</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>

        <div class="mb-3">
          <label for="tipoMensagem" class="form-label">Tipo da mensagem</label>
          <select id="tipoMensagem" class="form-control form-control-sm">
            <option value="primary">Primário</option>
            <option value="secondary">Secondário</option>
            <option value="danger">Perigo</option>
            <option value="success">Sucesso</option>
          </select>
        </div>

        <div class="mb-3">
          <label for="conteudo" class="form-label">Conteúdo</label>
          <textarea id="conteudo" name="conteudo" cols="30" rows="5" class="form-control"></textarea>
        </div>

        <div class="mt-3">
          <a id="liveAlertBtn" type="button" class="btn btn-primary btn-sm">Mostrar alerta</a>
        </div>

        <div id="liveAlertPlaceholder" class="mt-3"></div>
      </div>

      <div class="col"></div>
    </div>
  </div>

  <div id="templateAlerta" style="visibility: hidden">
    <div class="alert alert-__type__ alert-dismissible" role="alert">
      <div>__message__</div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>
  </div>
{% endblock body %}

{% block scripts %}
  <script>
    const alertTrigger = $('#liveAlertBtn')
    if (alertTrigger) {
      alertTrigger.click(() => {
        var tipoMensagem = $('#tipoMensagem').find(':selected').val();
        alert($('#conteudo').val(), tipoMensagem);
        $('#conteudo').val('');
      })
    }

    const alert = (message, type) => {
      const wrapper = $('<div/>')
      wrapper.html($('#templateAlerta').html().replace(/__message__/g, message).replace(/__type__/g, type))

      $('#liveAlertPlaceholder').append(wrapper)
    }
  </script>
{% endblock scripts %}
