{% extends 'base.html' %}{% load view_breadcrumbs %}

{% block body %}
<div class="section pt-2">
  <div class="container">
    <div class="columns">
      <div class="column">{% include '_includes/navbar.html' %}</div>
    </div>

    <div class="columns">
      <div class="column">{% block breadcrumbs %}{% render_breadcrumbs %}{% endblock %}</div>
    </div>

    {% block conteudo %}
    <div class="columns">
      <div class="column">
        <div class="tabs is-boxed">
          <ul>
            <li class="is-active" data-target="relatorios">
              <a>
                <span class="icon"><i class="fa-solid fa-chart-column"></i></span>
                <span>Relatórios</span>
              </a>
            </li>

            <li data-target="outro">
              <a>
                <span class="icon"><i class="fa-solid fa-chart-column"></i></span>
                <span>Outro</span>
              </a>
            </li>

            <li data-target="outro-mais">
              <a>
                <span class="icon"><i class="fa-solid fa-chart-column"></i></span>
                <span>Outro mais</span>
              </a>
            </li>
          </ul>
        </div>

        <div id="tab-content" class="px-1">
          <div id="relatorios">
            <ul>
              <li><a href="{% url 'report' %}" target="_blank">Relatório teste</a></li>
            </ul>
          </div>

          <div id="outro" class="is-hidden">
            <h3>Outro conteúdo</h3>
          </div>

          <div id="outro-mais" class="is-hidden">
            <h3>Outro conteúdo mais</h3>
          </div>
        </div>
      </div>
    </div>
    {% endblock conteudo %}
  </div>
</div>
{% endblock body %}

{% block scripts %}
  {{ block.super }}
  <script>
    addEventListener('load', function () {
      App.configurarTabs();
    })
  </script>
{% endblock scripts %}
