<!doctype html>{% load static hijack %}
<html lang="pt-br">
<head>
  {% block meta %}
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
  {% endblock meta %}

  <title>{% block title %}Bem vindo{% endblock title %}</title>

  <link rel="shortcut icon" href="{% static 'images/python-logo.png' %}"/>
  <link rel="stylesheet" href="{% static 'libs/bootstrap-5.3.0/css/bootstrap.min.css' %}"/>
  <link rel="stylesheet" href="{% static 'libs/select2-4.1.0.rc.0/css/select2.min.css' %}"/>
  <link rel="stylesheet" href="{% static 'libs/bootstrap-icons-1.10.5/font/bootstrap-icons.min.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/app.css' %}"/>

  {% block styles %}{% endblock styles %}
</head>
<body class="{% block body_class %}{% endblock body_class %}">
  {% block body %}{% endblock body %}

  <script src="{% static 'libs/jquery-3.7.0/js/jquery.min.js' %}"></script>
  <script src="{% static 'libs/bootstrap-5.3.0/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'libs/select2-4.1.0.rc.0/js/select2.full.min.js' %}"></script>
  <script src="{% static 'libs/select2-4.1.0.rc.0/js/i18n/pt-BR.js' %}"></script>
  <script src="{% static 'js/app.js' %}"></script>
  {% block scripts %}{% endblock scripts %}
</body>
</html>
