{% extends 'base.html' %}{% load static widget_tweaks %}

{% block body %}
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <h3>working</h3>
      <form action="" method="post">{% csrf_token %}
        <div class="mb-3">
          {{ form.profissional.label_tag }}
          <select name="profissional" class="form-select" id="id_profissional"></select>
          <div class="form-text">Digite a busca por especialidade.</div>
        </div>
        <div class="mb3">
          form-control
        </div>
      </form>
    </div>
    <div class="col-3"></div>
  </div>
{% endblock body %}

{% block scripts %}
  {{ block.super }}
  <script>
    $(function() {
      $('select').select2({
        ajax: {
          url: '/api/v1/profissionais/',
          dataType: 'json',
          delay: 250,
          data: function (params) {
            return {
              q: params.term
            };
          },
          processResults: function (data, params) {
            return {
              results: data.results
            }
          }
        }
      });
    });
  </script>
{% endblock scripts %}
