<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <!-- Logo à esquerda -->
    <a class="navbar-brand" href="/">
      <i class="fa-solid fa-building"></i> Minha APP
    </a>

    <!-- Botão do toggler -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <!-- Links de admin -->
      <ul class="navbar-nav">
        {% if user.is_superuser %}
        <li class="nav-item">
          <a class="nav-link active" href="/admin">
            <i class="fa-solid fa-table"></i> Administração
          </a>
        </li>
        {% endif %}
      </ul>

      <!-- Dropdown do usuário -->
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
          >
            <i class="fa-solid fa-circle-user"></i> {{ user.nome_completo }}
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li>
              <a
                class="dropdown-item small"
                href="{% url 'account_logout' %}"
                onclick="return confirm('Ao deslogar todos os dados não salvos serão perdidos.')"
              >
                <i class="fa-solid fa-right-from-bracket"></i> Sair
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
