{% templatetag openblock %} extends 'base.html' {% templatetag closeblock %}{% templatetag openblock %} load render_field from widget_tweaks {% templatetag closeblock %}
{% templatetag openblock %} block title {% templatetag closeblock %}Login{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block body {% templatetag closeblock %}
<div class="container-fluid">
  <div class="row align-items-center" style="height: 100vh">
    <div class="col"></div>
    <div class="col-4">
        {% templatetag openblock %} if form.non_field_errors {% templatetag closeblock %}
          <div class="alert alert-warning">
            {% templatetag openvariable %} form.non_field_errors.0 {% templatetag closevariable %}
          </div>
        {% templatetag openblock %} endif {% templatetag closeblock %}
        <div class="card">
          <div class="card-header">Login</div>
          <div class="card-body">
            <form action="{% templatetag openblock %} url 'account_login' {% templatetag closeblock %}" method="post">{% templatetag openblock %} csrf_token {% templatetag closeblock %}
              <div class="form-group">
                <label for="id_username">Usuário</label>
                {% templatetag openblock %} render_field form.login class="form-control form-control-sm" placeholder="Nome de usuário ou e-mail" autofocus="autofocus" {% templatetag closeblock %}
              </div>

              <div class="form-group">
                <label for="id_password">Senha</label>
                {% templatetag openblock %} render_field form.password class="form-control form-control-sm" placeholder="Senha" {% templatetag closeblock %}
              </div>

              <input type="hidden" name="{% templatetag openvariable %} redirect_field_name {% templatetag closevariable %}" value="{% templatetag openvariable %} redirect_field_value | default:'/' {% templatetag closevariable %}" />

              <div class="checkbox clearfix">
                <label class="float-right">
                  {% templatetag openvariable %} form.remember {% templatetag closevariable %} Lembrar
                </label>
              </div>
              <hr/>

              <button type="submit" class="btn btn-primary btn-sm float-right" id="id_login_button">
                <i class="fas fa-sign-in-alt"></i> Login
              </button>
            </form>

            <a href="{% templatetag openblock %} url 'account_reset_password' {% templatetag closeblock %}">Esqueci minha senha</a><br>
            <a href="{% templatetag openblock %} url 'account_signup' {% templatetag closeblock %}">Registrar</a>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
{% templatetag openblock %} endblock {% templatetag closeblock %}
