{% templatetag openblock %} extends 'base.html' {% templatetag closeblock %}{% templatetag openblock %} load render_field from widget_tweaks {% templatetag closeblock %}
{% templatetag openblock %} block title {% templatetag closeblock %}Resetar senha{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block body_class {% templatetag closeblock %}hold-transition login-page{% templatetag openblock %} endblock body_class {% templatetag closeblock %}

{% templatetag openblock %} block body {% templatetag closeblock %}
  <div class="login-box">
    <div class="panel panel-info">
    <div class="panel-heading">
      Entre com seu email de registro no campo a seguir para <i>resetar</i> sua senha
    </div>
    <div class="panel-body">
      <form action="{% templatetag openblock %} url 'account_reset_password' {% templatetag closeblock %}" method="post">{% templatetag openblock %} csrf_token {% templatetag closeblock %}
        <div class="form-group has-feedback {% templatetag openblock %} if form.email.errors {% templatetag closeblock %}has-error{% templatetag openblock %} endif {% templatetag closeblock %}">
          {% templatetag openblock %} render_field form.email class="form-control" placeholder="email" autofocus="autofocus" {% templatetag closeblock %}
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          {% templatetag openblock %} if form.email.errors {% templatetag closeblock %}
            <span class="text-danger">{% templatetag openvariable %} form.email.errors.0 {% templatetag closevariable %}</span>
          {% templatetag openblock %} endif {% templatetag closeblock %}
        </div>

        <hr>
        <div class="clearfix">
          <a href="{% templatetag openblock %} url 'account_login' {% templatetag closeblock %}" class="pull-left">
            Login
          </a>

          <button submit type="submit" class="btn btn-primary btn-flat pull-right" id="id_reset_password_button">
            <span class="glyphicon glyphicon-refresh"></span> Resetar Senha
          </button>
        </div>
      </form>
    </div><!-- /.login-box-body -->
  </div><!-- /.login-box -->
{% templatetag openblock %} endblock body {% templatetag closeblock %}
