{% templatetag openblock %} extends 'base.html' {% templatetag closeblock %}{% templatetag openblock %} load render_field from widget_tweaks {% templatetag closeblock %}

{% templatetag openblock %} block title {% templatetag closeblock %}Resetar Senha{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block body {% templatetag closeblock %}
  <div class="container-fluid">
    <div class="row align-items-center" style="height: 100vh">
      <div class="col"></div>
      <div class="col-4">
        <div class="card">
          <div class="card-header">Resetar Senha</div>
          
          <div class="card-body">
            {% templatetag openblock %} if token_fail {% templatetag closeblock %}
              <p>
                Infelizmente não será possível resetar sua senha. Talvez ela já tenha sido resetada, ou o <i>link</i> utilizado para acessar esta página seja inválido. 
                Se preferir, solicite outro reset de senha clicando <a href="{% templatetag openblock %} url 'account_reset_password' {% templatetag closeblock %}">aqui</a>. 
              </p>
              <a href="/" class="btn btn-primary btn-block">
                <i class="fas fa-home"></i> Home
              </a>
            {% templatetag openblock %} else {% templatetag closeblock %}
              <form action="" method="post">{% templatetag openblock %} csrf_token {% templatetag closeblock %}
                <div class="form-group">
                  <label>Senha</label>
                  <input type="password" name="password1" class="form-control form-control-sm{% templatetag openblock %} if form.password1.errors {% templatetag closeblock %} is-invalid{% templatetag openblock %} endif {% templatetag closeblock %}"
                      placeholder="Nova Senha" autofocus required>
                  {% templatetag openblock %} if form.password1.errors {% templatetag closeblock %}
                    <div class="invalid-feedback">{% templatetag openvariable %} form.password1.errors.0 {% templatetag closevariable %}</div>
                  {% templatetag openblock %} endif {% templatetag closeblock %}
                </div>

                <div class="form-group">
                  <label>Confirmar Senha</label>
                  <input type="password" name="password2" class="form-control form-control-sm{% templatetag openblock %} if form.password2.errors {% templatetag closeblock %} is-invalid{% templatetag openblock %} endif {% templatetag closeblock %}"
                      placeholder="Nova Senha (confirmar)" required>
                  {% templatetag openblock %} if form.password2.errors {% templatetag closeblock %}
                    <div class="invalid-feedback">{% templatetag openvariable %} form.password2.errors.0 {% templatetag closevariable %}</div>
                  {% templatetag openblock %} endif {% templatetag closeblock %}
                </div>
    
                <button type="submit" class="btn btn-primary btn-block">
                  <i class="fas fa-sync"></i> Resetar Senha
                </button>
              </form>
            {% templatetag openblock %} endif {% templatetag closeblock %}
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
{% templatetag openblock %} endblock body {% templatetag closeblock %}
